body {
    color: #555;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

h1 {
    text-align: center;
}

#vis {
  height: 100px;
}

#vis div {
  width: 1px;
  height: 100px;
  float: left;
}
